.friends-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.650);
  z-index: 1;
}

.friends-container {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  z-index: 1;
}

/* header */
.friends-header {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.friends-title {
  font-size: 16px;
  font-weight: 600;
}

.friends-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  padding: 13fpx;
  position: absolute;
  right: 0;
}

.friends-close-icon {
  width: 16px;
  height: 16px;
}

.friends-close-icon:hover {
  cursor: pointer;
}

/* search */
.friends-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
}

.friends-input-container {
  display: flex;
  align-items: center;
  padding: 3px 16px;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  border-radius: 6px;
}

.friends-input-icon {
  width: 16px;
  height: 16px;
  opacity: 50%;
  margin-right: 6px; 
}

.friends-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 13px;
}

.friends-input-close-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  padding: 4px;
}

.friends-input-close {
  width: 18px;
  height: 18px;
}

.friends-input-close:hover {
  cursor: pointer;
}

/* results */
.friends-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 310px;
  overflow-y: scroll;
}

.friends-result-user {
  width: 383px;
  height: 60px;
  padding: 8px 16px;
  display: flex;
}

.friends-result-pfp-deleted {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.friends-result-pfp-link {
  width: 44px;
  height: 44px;
  margin-right: 12px;
}

.friends-result-pfp {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.friends-result-options {
  display: flex;
  flex-direction: column;
  width: 182px;
  height: 100%;
  justify-content: center;
}

.friends-result-username-deleted {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.friends-result-username {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.friends-result-pfp:hover, .friends-result-username:hover {
  cursor: pointer;
}

.friends-result-username:active {
  opacity: 50%;
}

.friends-result-fullname {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.friends-result-follow-container {
  height: 100%;
  width: 113px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-result-button {
  width: 90px;
  height: 32px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 13px;
  background-color: #0095f6;
  color: white;
}

.friends-result-button:hover {
  cursor: pointer;
  background-color: #1877f2;
}

.friends-result-button:active {
  opacity: 50%;
}

.friends-result-following {
  background-color: #efefef;
  color: black;
}

.friends-result-following:hover {
  background-color: #dbdbdb;
}

/* no results */
.friends-all {
  width: 100%;
  height: 100%;
}

.friends-no-results {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 30px;
}