@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes popIn {
  0% { opacity: 0; width: 450px; height: 225px; top: 340px }
  100% { opacity: 1; width: 400px; height: 200px; }
}

@keyframes expandCaption {
  0% { width: 0; }
  100% { width: 340px; }
}

.create-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.create-post {
  position: absolute;
  width: 680px;
  height: 720px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  top: calc(50vh - 360px);
  left: calc(50vw - 350px);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  animation: fadeIn 0.3s;
  transition: 0.5s;
}

.create-with-caption {
  width: 1020px;
  left: calc(50vw - 510px);
}

.create-header {
  border-bottom: solid 1px #dbdbdb;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-header p {
  font-weight: 600;
}

/* No files yet view */
.create-upload {
  width: 100px;
  margin-top: 250px;
  user-select: none;
}

.create-tooltip {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.create-select-from-pc {
  width: 170px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: #0095f6;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  font-size: 13px;
}

.create-select-from-pc:hover {
  cursor: pointer;
  background-color: #1877f2;
}

.create-select-input {
  width: 100%;
  height: 100%;
}

/* Files view */
.create-preview-header {
  border-bottom: solid 1px #dbdbdb;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.create-preview-header > p {
  font-weight: 600;
  margin-left: 15px;
}

.create-arrow-container svg:hover {
  cursor: pointer;
}

.create-arrow-container svg:active {
  fill: #7e7e7e;
}

.create-preview-next {
  background: none;
  border: none;
  color: #0e95f6;
  font-weight: 600;
  font-size: 14px;
  user-select: none;
}

.create-preview-next:hover {
  cursor: pointer;
  color: #00377d;
}

.create-preview-next:active {
  color: #7f9abd;
}

.create-preview-caption {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Captions */
.create-caption {
  width: 340px;
  height: 675px;
  animation: expandCaption 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid lightgray;
}

.create-caption-user {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
}

.create-caption-pfp-container {
  margin-left: 16px;
}

.create-caption-pfp {
  width: 28px;
}

.create-caption-username {
  font-size: 13px;
  font-weight: 600;
  margin-left: 12px;
}

.create-caption-text {
  border: none;
  width: 100%;
  height: 168px;
  resize: none;
  font-size: 16px;
  padding: 0 16px 0 16px;
}

.create-caption-text:focus {
  outline: none;
}

.create-caption-char-ct {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.create-caption-char-ct-text {
  font-size: 12px;
  margin-right: 16px;
  text-align: end;
  color: lightgray;
  user-select: none;
}

/* Discard draft */
.create-discard {
  background-color: white;
  border-radius: 12px;
  width: 400px;
  height: 200px;
  position: fixed;
  z-index: 4;
  top: calc(50vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: popIn 0.2s;
}

.create-discard h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.create-discard-tooltip {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.create-discard-confirm {
  width: 100%;
  height: 48px;
  border-top: solid 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee535f;
}

.create-discard-confirm > p {
  font-size: 14px;
  font-weight: 700;
}

.create-discard-confirm:hover {
  cursor: pointer;
}

.create-discard-cancel {
  width: 100%;
  height: 48px;
  border-top: solid 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-discard-cancel > p{
  font-size: 14px;
}

.create-discard-cancel:hover {
  cursor: pointer;
}

.create-discard-overlay {
  background: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

/* Wrong file view */
.create-wrong-files {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-wrong-icon {
  width: 100px;
  user-select: none;
}

.create-wrong-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.create-wrong-list {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
  color: #737373;
}

.create-wrong-list span {
  font-size: 13px;
  font-weight: 600;
  color: #737373;
}

.create-wrong-button {
  border-radius: 8px;
  border: none;
  background-color: #0095f6;
  color: white;
  width: 140px;
  height: 35px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 600;
}

.create-wrong-button:hover {
  cursor: pointer;
  background-color: #1877f2;
}

/* Close modal */
.create-close-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.create-close-container svg:hover {
  cursor: pointer;
}

.create-close-container svg:active {
  fill: #acacac;
}
