.comment-container {
  width: 100%;
  height: min-content;
  display: flex;
  margin-bottom: 22px;
}

.comment-pfp {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.comment-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  min-height: 40px;
  margin-left: 14px;
  word-break: break-word;
}

.comment-text {
  margin-bottom: 7px;
  width: 100%;
}

.comment-text span {
  font-weight: 600;
  font-size: 14px;
  color: #545454;
}

.comment-text p {
  font-weight: 400;
  font-size: 14px;
}

.comment-options {
  width: 100%;
  font-size: 12px;
  color: gray;
}

.comment-likes {
  height: 100%;
  width: 21px;
}

.comment-likes-icon {
  height: 11px;
  width: 12px;
  margin-top: 11px;
}

.comment-likes-icon:hover {
  cursor: pointer;
  opacity: 50%;
}

.comment-likes-icon:active {
  opacity: 30%;
}