.comments-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comments-empty > h2  {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.comments-empty > p {
  font-weight: 400;
  font-size: 14px;
}