.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

/* Arrows */
.preview-back-img, .preview-next-img {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 16px);
  user-select: none;
}

.preview-back-img {
  left: 10px;
}

.preview-next-img {
  right: 10px;
}

.preview-back-img:hover, .preview-next-img:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.preview-back-arrow {
  width: 14px;
  height: 16px;
  transform: scaleX(-1);
}

.preview-next-arrow {
  width: 14px;
  height: 16px;
}

/* Image */
.preview-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.preview-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}

/* Index dots */
.preview-img-index {
  max-width: 96px;
  height: 6px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 95%;
}

.preview-img-index-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a8a8a8;
  margin: 0 2px 0 2px;
}

.preview-img-index-dot-highlighted {
  background-color: #0095f6;
  transition: 0.2s;
}
