.suggest-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
}

/* header */
.suggest-header {
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px;
}

.suggest-header-pfp-link {
  width: 44px;
  height: 44px;
}

.suggest-header-pfp {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}

.suggest-header-username-link {
  width: min-content;
  height: 18px;
  margin-left: 12px;
}

.suggest-header-username {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.suggest-header-username:active {
  opacity: 50%;
}

.suggest-header-switch {
  margin-left: auto;
  border: none;
  background: none;
  width: 42px;
  height: 18px;
  font-size: 12px;
  user-select: none;
  color: #0095f6;
  font-weight: 600;
}

.suggest-header-switch:hover {
  cursor: pointer;
  color: #083d6f;
}

.suggest-header-switch:active {
  opacity: 50%;
}

/* logout */
.suggest-logout-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.suggest-logout-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 96px;
  border-radius: 8px;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: calc(50vh - 48px);
  left: calc(50vw - 200px);
  overflow: hidden;
}

.suggest-logout-confirm {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid lightgray;
  color: #ee535f;
  font-weight: 600;
  font-size: 14px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest-logout-cancel {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggest-logout-confirm:hover, .suggest-logout-cancel:hover {
  cursor: pointer;
}

.suggest-logout-confirm:active, .suggest-logout-cancel:active {
  background-color: #e5e5e5;
}

/* label */
.suggest-label {
  width: 100%;
  height: 18px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  margin-bottom: 8px;
}

/* suggestions */
.suggest-suggestion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
}

.suggestion-container {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 8px 16px;
  align-items: center;
}

.suggestion-pfp-link {
  width: 44px;
  height: 44px;
}

.suggestion-pfp {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid lightgray;
  object-fit: cover;
}

.suggestion-username-link {
  width: min-content;
  height: 18px;
  margin-left: 12px;
}

.suggestion-username {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.suggestion-follow {
  margin-left: auto;
  border: none;
  background: none;
  width: 42px;
  height: 18px;
  font-size: 12px;
  user-select: none;
  color: #0095f6;
  font-weight: 600;
}

.suggestion-follow:hover {
  cursor: pointer;
  color: #083d6f;
}

.suggestion-follow:active {
  opacity: 50%;
}

/* linkedin */
.suggest-linkedin {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: gray;
  text-decoration: none;
}

.suggest-linkedin > a {
  color: gray;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 4px;
}

.suggest-linkedin > a:hover {
  opacity: 50%;
}

.suggest-linkedin > a:active {
  opacity: 30%;
}