.userprofile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Details */
.userprofile-details {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin-top: 30px;
}

.userprofile-pfp-container {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 40px;
}

.userprofile-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.userprofile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
}

.userprofile-username {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

.userprofile-follow {
  border: none;
  height: 32px;
  width: 80px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  background-color: #0095f6;
  border-radius: 8px;
}

.userprofile-follow:hover {
  cursor: pointer;
  background-color: #1877f2
}

.userprofile-name {
  margin-right: 20px;
}

.userprofile-stats {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 10px;
  align-items: center;
}

.userprofile-stats > p {
  margin-right: 30px;
}

.userprofile-stats span {
  font-weight: 600;
}

.userprofile-full-name {
  font-weight: 600;
}

.userprofile-bio {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
}

.userprofile-text {
  word-wrap: break-word;
  margin-top: 10px;
}

/* posts */
.userprofile-post-container {
  width: 940px;
  border-top: solid 1px lightgray;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 330px);
}

.userprofile-post-header {
  margin-top: 16px;
  display: flex;
}

.userprofile-post-header p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 4px;
}

.userprofile-posts {
  width: 938px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-bottom: 60px;
}

/* No posts */
.userprofile-empty-posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 310px;
  align-items: center;
  justify-content: center;
}

.userprofile-no-posts-icon {
  height: 62px;
  width: 62px;
}

.userprofile-no-posts {
  font-weight: 800;
  margin-top: 20px;
  font-size: 28px;
}

/* linkedin */
.userprofile-full-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.userprofile-linkedin {
  position: relative;
  bottom: 10px;
}

.userprofile-linkedin a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
}