.likes-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.likes-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.likes-modal {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
}

.likes-header {
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
}

.likes-header p {
  font-weight: 600;
  font-size: 16px;
}

.likes-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  right: 0;
}

.likes-close:hover {
  cursor: pointer;
}

.likes-close-icon {
  width: 16px;
  height: 16px;
}

/* list of users */
.likes-list {
  width: 100%;
  height: 358px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.likes-list-empty {
  scrollbar-width: none;
}

.likes-list-user {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 8px 16px;
  justify-content: flex-start;
  align-items: center;
}

.likes-list-pfp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.likes-list-pfp {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}

.likes-list-details {
  display: flex;
  flex-direction: column;
  width: 201px;
  height: 100%;
  margin-right: 12px;
  justify-content: center;
}

.likes-list-username {
  width: min-content;
  font-size: 14px;
  font-weight: 600;
}

.likes-list-username:hover {
  cursor: pointer;
}

.likes-list-username:active {
  opacity: 50%;
}

.likes-list-username-link {
  text-decoration: none;
  color: black;
}

.likes-list-fullname {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

.likes-list-follow {
  width: 94px;
  height: 32px;
  border: none;
  color: white;
  border-radius: 8px;
  background-color: #0095f6;
  font-size: 13px;
  font-weight: 600;
}

.likes-list-follow:hover {
  cursor: pointer;
  background-color: #1877f2;
}

.likes-list-follow:active {
  opacity: 70%;
}

.likes-list-following {
  background-color: #efefef;
  color: black;
}

.likes-list-following:hover {
  background-color: #dbdbdb;
}

.likes-list-following:active {
  opacity: 70%;
}

/* deleted user */
.likes-deleted-username {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}

/* empty list */
.likes-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}