@keyframes popInDelete {
  0% { width: 420px; height: 231px; top: calc(50vh - 115px); left: calc(50vw - 210px); }

  100% { width: 400px; height: 220px; }
}

.edit-container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 85px;
  transition: padding-bottom 0.3s ease-in;
}

.edit-container-expand {
  padding-bottom: 0;
}

/* profile */
.edit-profile-container {
  width: 610px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.edit-profile-label {
  font-size: 18px;
  font-weight: 700;
}

.edit-pfp-container {
  width: 610px;
  height: 88px;
  display: flex;
  align-items: center;
  border-radius: 18px;
  background-color: #efefef;
  margin-top: 40px;
}

.edit-pfp-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  outline: solid 1px lightgray;
  margin-left: 20px;
  object-fit: cover;
}

.edit-pfp-img:hover {
  cursor: pointer;
}

.edit-pfp-container > p {
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.edit-change-pfp {
  border-radius: 8px;
  background-color: #0095f6;
  color: white;
  font-size: 13px;
  font-weight: 600;
  width: 124px;
  height: 32px;
  border: none;
  margin-left: auto;
  margin-right: 20px;
}

.edit-change-pfp:hover {
  cursor: pointer;
  background-color: #1877f2;
}

.edit-change-pfp:active {
  opacity: 65%;
}

/* bio */
.edit-bio-container {
  display: flex;
  flex-direction: column;
  width: 610px;
  margin-top: 42px;
}

.edit-bio-label {
  font-weight: 700;
  font-size: 16px;
}

.edit-bio-wrapper {
  display: flex;
  border: solid 1px lightgray;
  border-radius: 14px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: 16px;
  padding: 8px 0 0 12px;
  position: relative;
}

.edit-bio {
  outline: none;
  border: none;
  width: 80%;
  resize: none;
  font-size: 16px;
}

.edit-bio-char-ct {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-size: 12px;
  color: #737373;
}

/* edit advanced */
.edit-advanced {
  width: 610px;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.edit-advanced-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.edit-label {
  font-size: 16px;
  font-weight: 700;
}

.edit-field {
  margin-top: 16px;
  width: 100%;
  border: solid 1px lightgray;
  border-radius: 14px;
  height: 42px;
  padding: 0 12px;
  font-size: 16px;
}

.edit-test:disabled:hover, .edit-test:disabled:active {
  background-color: #fafafa;
}

/* delete */
.edit-delete-container {
  display: flex;
  width: 100%;
  height: min-content;
  margin-bottom: 12px;
  flex-direction: column;
}

.edit-delete-header {
  display: flex;
  align-items: center;
}

.edit-delete-header:hover {
  cursor: pointer;
}

.edit-delete-header:active {
  opacity: 50%;
}

.edit-delete-advanced {
  font-size: 16px;
  font-weight: 500;
  color: gray;
  user-select: none;
}

.edit-delete-arrow {
  margin-left: 20px;
  width: 20px;
  height: 12px;
  user-select: none;
}

.edit-delete-arrow-flip {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.edit-delete-arrow-unflip {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.edit-delete-option {
  width: 398px;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none;
  margin-top: 24px;
}

.edit-delete-option-show {
  height: 85px;
  opacity: 1;
  pointer-events: auto;
}

.edit-delete-title {
  font-size: 16px;
  font-weight: 700;
}

.edit-delete-text {
  margin-top: 8px;
  font-size: 16px;
  color: gray;
  font-weight: 500;
}

.edit-delete-button {
  font-size: 16px;
  width: 106px;
  height: 32px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #ed4956;
}

.edit-delete-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.edit-delete-button:active {
  opacity: 30%;
}

/* delete popup */
.edit-delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.edit-delete-popup-container {
  position: fixed;
  width: 400px;
  height: 220px;
  top: calc(50vh - 110px);
  left: calc(50vw - 200px);
  border-radius: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  animation: 0.2s popInDelete
}

.edit-delete-popup-header {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.edit-delete-popup-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.edit-delete-popup-warning {
  font-size: 14px;
  color: #ee535f;
  margin-bottom: 4px;
  font-weight: 600;
}

.edit-delete-popup-text {
  font-size: 14px;
  color: gray;
}

.edit-delete-confirm {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  color: #ee535f;
  font-weight: 700;
  font-size: 14px;
  user-select: none;
}

.edit-delete-cancel {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  user-select: none;
}

.edit-delete-confirm:hover, .edit-delete-cancel:hover {
  cursor: pointer;
}

.edit-delete-confirm:active, .edit-delete-cancel:active {
  background-color: #e5e5e5;
}

/* submit button */
.edit-submit {
  width: 610px;
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
  margin-bottom: 148px;
}

.edit-error {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ed4956;
  font-size: 18px;
}

.edit-submit-button {
  width: 212px;
  height: 44px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  border: none;
  background-color: #0095f6;
  border-radius: 8px;
}

.edit-submit-button:hover {
  cursor: pointer;
  background-color: #1877f2;
}

.edit-submit-button:active {
  opacity: 65%;
}

.edit-submit-button:disabled, :disabled:hover, :disabled:active {
  background-color: #b1defc;
  cursor: default;
  opacity: 100%;
}

/* profile updated notif */
.edit-updated-notif {
  width: 100vw;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: -40px;
  background-color: #1d1d1d;
  left: 0;
  z-index: 2;
  color: white;
  padding-left: 16px;
  transition: 0.5s;
}

.edit-updated-notif-show {
  bottom: 0;
}