@keyframes easeIn {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}

@keyframes easeOut {
  0% { opacity: 100%; }
  100% { opacity: 0; }
}

/* Navbar */
.navbar-container {
  width: 17.5%;
  height: 100vh;
  border-right: solid lightgrey 1px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  transition: 0.3s;
}

.navbar-container a {
  color: black;
}

.navbar-collapse {
  width: 4%;
  border-right: solid #f2f2f2 1px;
}

/* Pintstagram logo */
.navbar-logo-wrapper {
  width: 100%;
  padding: 30px 10px;
  height: 100px;
}

.navbar-logo {
  width: 100%;
}

.navbar-logo-pic {
  width: 120px;
  animation: easeIn 0.3s;
  position: fixed;
  top: 42px;
  left: 22px;
}

.navbar-logo-out {
  animation: easeOut 0.3s;
  display: none;
}

.navbar-icon-pic {
  width: 34px;
  animation: easeIn 0.3s;
  position: fixed;
  top: 42px;
  left: 22px;
}

.navbar-icon-out {
  animation: easeOut 0.3s;
  opacity: 0;
}

/* Navbar options */
.navbar-option-wrapper {
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
  position: relative;
}

.navbar-option {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
}

.navbar-option > img {
  width: 28px;
}

.navbar-option > h2 {
  margin-left: 18px;
  font-weight: 500;
  animation: easeIn 0.3s;
}

.navbar-option:hover {
  background-color: #f2f2f2;
  transition: 0.3s;
}

.navbar-option:hover > img{
  transform: scale(1.1);
  transition: 0.2s;
}

.navbar-option:active {
  background-color: #f8f8f8;
  transition: 0s;
}

.navbar-option:active > img {
  filter: opacity(50%);
  transform: scale(0.98);
  transition: 0.2s;
}

.navbar-option:active > h2 {
  color: #9f9f9f;
}

.navbar-highlighted > h2{
  font-weight: bold;
}

.navbar-highlighted-search {
  border: 1px solid lightgray;
}

.navbar-pfp {
  border-radius: 50%;
  border: solid 1px lightgray;
  height: 28px;
  object-fit: cover;
}

.navbar-pfp-highlighted {
  border: solid 2px black;
}

/* more */
.navbar-more-wrapper {
  margin-top: auto;
}

.navbar-more-modal {
  position: absolute;
  width: 266px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  background: white;
  bottom: 52px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-more-option {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
  padding-left: 16px;
}

.navbar-more-option:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.navbar-more-option:active {
  background-color: #e5e5e5;
}

.navbar-more-option-hide {
  display: none;
}
