.container {
  height: 98vh;
  width: 16.5%;
  padding: 1vh;
  border-right: solid lightgrey 1px;
  display: flexbox;
}

/* Logo */
.logo-container {
  padding: 12px;
  height: 70px;
}

.logo-wrapper {
  height: 100%;
}

.logo {
  width: 120px;
  margin-top: 15px;
}

/* Nav options */
.nav-container > * {
  text-decoration: none;
  color: black;
}

.nav-options {
  padding: 10px;
  height: 50px;
  display: inline-flex;
  font-size: 10px;
}

.nav-options img {
  height: 28px;
}
