.navbar-container {
  width: 17.5%;
  height: 100vh;
  border-right: solid lightgrey 1px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.navbar-logo-wrapper {
  width: 100%;
  padding: 25px 10px;
  margin-bottom: 12px;
}

.navbar-logo {
  width: 120px;
}

.navbar-option {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.navbar-option > * {
  margin-left: 18px;
}

.navbar-option > img {
  width: 30px;
}

.navbar-more {
  margin-top: auto;
}
