.App {
  width: calc(100vw - 17px);
  height: 100vh;
  overflow: auto;
}

.App button {
  user-select: none;
}

.pages {
  width: 82.5%;
  left: 17.5%;
  position: absolute;
  height: 100%;
}

.remove {
  display: none;
}