.s-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Details */
.s-profile-details {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin-top: 30px;
}

.s-profile-pfp-container {
  width: 300px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 40px;
}

.s-profile-pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.s-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
}

.s-profile-username {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}

.s-profile-name {
  margin-right: 20px;
}

.s-profile-username button {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  margin-right: 10px;
}

.s-profile-username button:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

.s-profile-username button:active {
  background-color: #ececec;
  color: #9f9f9f;
}

.s-profile-stats {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-top: 10px;
  align-items: center;
}

.s-profile-stats > p {
  margin-right: 30px;
}

.s-profile-stats span {
  font-weight: 600;
}

.s-profile-bio {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
}

.s-profile-text {
  word-wrap: break-word;
}

/* linkedin */
.s-profile-full-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.s-profile-linkedin {
  position: relative;
  bottom: 10px;
}

.s-profile-linkedin a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
}

/* posts */
.s-profile-post-container {
  width: 940px;
  border-top: solid 1px lightgray;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-profile-post-header {
  margin-top: 16px;
  display: flex;
}

.s-profile-post-header p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 4px;
}

.s-profile-posts {
  width: 938px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-bottom: 60px;
}
