.loading-background {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 17px);
  height: 100vh;
  position: fixed;
  left: 0;
}

.loading-icon {
  width: 80px;
}

.loading-description-first-line {
  position: absolute;
  bottom: 66px;
  color: #758494;
  font-size: 18px;
}

.loading-description-second-line {
  position: absolute;
  bottom: 30px;
  color: #bfab98;
  font-weight: bold;
  font-size: 25px;
}